:root {
  --main-title-color: #fff;
  --secondary-title-color: #303030;
  --accent-color: #ff6c00;
  --secondary-font: "Raleway", sans-serif;
  --basic-margin: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  outline: 1px solid red;
  padding-left: 15px;
  padding-right: 15px;
}

img {
  display: block;
}

body {
  font-family: "Open Sans", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.tittle {
  font-family: "Raleway", sans-serif;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
}
.subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.header {
  background: #8d93db;
  padding: 32px 0;
}
.header-navigation {
}
.header-logo {
}
.header-list {
}
.header-item {
}
.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.header-btn {
  color: #ffffff;
  cursor: pointer;
}

/* Hero */
.hero {
  background-color: gray;
}
.hero-list {
}
.hero-item {
}
.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #ffffff;
}
.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}

.hero-subtitle {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--basic-margin);
}
.hero-title {
  font-family: "Raleway", sans-serif;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
  margin-bottom: var(--basic-margin);
}

.hero-description {
  width: 360px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
/* About */
.about {
  padding: 120px 0;
}
.about-item {
}
.about-link {
}
.about-subtitle {
  color: var(--secondary-title-color);
  margin-bottom: var(--basic-margin);
}
.about-title {
  color: var(--secondary-title-color);
  margin-bottom: var(--basic-margin);
}
.about-description {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 42px;
}

.about-description span {
  display: block;
  font-size: 18px;
  line-height: 1.67;
  margin-bottom: var(--basic-margin);
}
.about-button {
  color: #303030;
  cursor: pointer;
}
/* Prices */
.prices {
  background-color: gray;
  padding: 120px 0;
}
.subtitle-prices {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--basic-margin);
}
.title-prices {
  color: var(--main-title-color);
  margin-bottom: 44px;
}
.prices-list {
  padding: 30px 20px;
}
.prices-item {
}
.prices-item:not(:last-child) {
  margin-bottom: var(--basic-margin);
}
.prices-item-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.prices-btn {
  color: #ffffff;
  cursor: pointer;
}
/* Benefits */
.benefits {
}
.benefits-list {
}
.benefits-item {
}
.benefits-item span {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--secondary-title-color);
}
.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--secondary-title-color);
}
.benefits-subtitle {
  color: var(--secondary-title-color);
}
.benefits-title {
  color: var(--secondary-title-color);
}
.benefits-description {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}
/* Barbers */
.barbers {
}
.barbers-subtitle {
  color: var(--secondary-title-color);
}
.barbers-title {
  color: var(--secondary-title-color);
}
.barbers-list {
}
.barbers-item-title {
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);
}
.barbers-item-text {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
/* Gallery */
.gallery {
}
.subtitle-gallery {
  color: var(--secondary-title-color);
}
.visually-hidden {
}
.gallery-list {
}
.gallery-item {
}
/* Contact */
.contact {
}
.contact-title {
  color: var(--main-title-color);
}
.title {
}
.contact-adress {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.contact-list {
}
.contact-item {
}
.contact-link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.contact-subtitle {
  color: var(--main-title-color);
}
.subtitle {
}
.contact-hours {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
